body{
 width: 960px;   
 margin: 0 auto;
}

h1 {
    text-align: center;
}

main{
    float: left;
    padding: 0;
    width: 700px;
    margin: 0;
   
}

aside{
 float: left;   
 width: 260px;
 padding: 0;
 margin: 0;
}

#contenido{
    list-style-type: none;
    padding: 0;
}

#contenido li{
    float: left;
    width: 33%;
}
