.collapse {
    border-collapse: collapse;
    border:2px solid red;

}

.separate {
    border-collapse: separate;
    border: 2px solid green;
}

.black {
    padding: 5px;
    border: 1px solid black;
}